In [0]:
from pyspark.sql import SparkSession
from datetime import datetime, timedelta
import pandas as pd
from pyspark.sql.functions import col, min, max

In [0]:
spark = SparkSession.builder.appName("MyDataProcessingJob").getOrCreate()

In [0]:
trips_raw = spark.read.table("hive_metastore.metrobikes.trips")
#trips_raw.show(10)

In [0]:
kiosks_raw = spark.read.table("hive_metastore.metrobikes.kiosk_locations")
#kiosks_raw.show(10)

In [0]:
sensors_raw = spark.read.table("hive_metastore.metrobikes.sensors")
#sensors_raw.show(10)

In [0]:
traffic_raw = spark.read.table("hive_metastore.metrobikes.traffic_counts")
#traffic_raw.show(10)

Removing whitespaces from column names.

In [0]:
def remove_whitespace(df):
    column_names = df.columns
    column_names_no_spaces = [s.replace(' ', '') for s in column_names]
    column_name_mapping = dict(zip(column_names, column_names_no_spaces))
    for old_col, new_col in column_name_mapping.items():
        df = df.withColumnRenamed(old_col, new_col)
    return df

In [0]:
trips_raw = remove_whitespace(trips_raw)

In [0]:
trips_raw.columns

['TripID',
 'MembershiporPassType',
 'BicycleID',
 'BikeType',
 'CheckoutDatetime',
 'CheckoutDate',
 'CheckoutTime',
 'CheckoutKioskID',
 'CheckoutKiosk',
 'ReturnKioskID',
 'ReturnKiosk',
 'TripDurationMinutes',
 'Month',
 'Year']

In [0]:
kiosks_raw = remove_whitespace(kiosks_raw)

In [0]:
kiosks_raw.columns

['KioskID',
 'KioskName',
 'KioskStatus',
 'Location',
 'Address',
 'AlternateName',
 'CityAssetNumber',
 'PropertyType',
 'NumberofDocks',
 'PowerType',
 'FootprintLength',
 'FootprintWidth',
 'Notes',
 'CouncilDistrict',
 'Image',
 'ModifiedDate']

In [0]:
sensors_raw = remove_whitespace(sensors_raw)
sensors_raw.columns

['READER_ID',
 'ATD_SENSOR_ID',
 'KITS_ID',
 'ATD_LOCATION_ID',
 'MODIFIED_DATE',
 'SENSOR_STATUS',
 'TURN_ON_DATE',
 'SENSOR_TYPE',
 'SENSOR_MFG',
 'COA_INTERSECTION_ID',
 'PRIMARY_ST_SEGMENT_ID',
 'CROSS_ST_SEGMENT_ID',
 'LANDMARK',
 'PRIMARY_ST_AKA',
 'CROSS_ST_AKA',
 'SIGNAL_ENG_AREA',
 'COUNCIL_DISTRICT',
 'JURISDICTION',
 'LOCATION_TYPE',
 'LOCATION_NAME',
 'PRIMARY_ST',
 'CROSS_ST',
 'PRIMARY_ST_BLOCK',
 'COUNTY',
 'CROSS_ST_BLOCK',
 'IP_COMM_STATUS',
 'COMM_STATUS_DATETIME_UTC',
 'LOCATION_LATITUDE',
 'LOCATION_LONGITUDE',
 'SourceDBID',
 'LOCATION',
 'PRIMARY_ST_SEGMENT_DISPLAY_NAME',
 'CROSS_ST_SEGMENT_DISPLAY_NAME',
 'JURISDICTION_LABEL',
 'CORRIDOR_NAME']

In [0]:
traffic_raw = remove_whitespace(traffic_raw)
traffic_raw.columns

['RowID',
 'DetectorID',
 'KITSID',
 'ReadDate',
 'IntersectionName',
 'Lane',
 'Volume',
 'Occupancy',
 'Speed',
 'Month',
 'Day',
 'Year',
 'Hour',
 'Minute',
 'DayofWeek',
 'TimeBin',
 'Direction']

Tranforming the data, creating fact and dimension tables

In [0]:
start_date = datetime.strptime("2021-01-01", "%Y-%m-%d")
end_date = datetime.strptime("2023-12-01", "%Y-%m-%d")
date_list = pd.date_range(start_date, end_date, freq='D')
date_list_iso = date_list.strftime("%Y-%m-%d")
date_df = pd.DataFrame()
date_df['DateISO'] = pd.to_datetime(date_list_iso)
date_df["Year"] = date_df['DateISO'].dt.year.apply(int)
date_df["YearName"] = date_df['DateISO'].dt.year.apply(str)
date_df["MonthName"] = date_df['DateISO'].dt.month.apply(str).str.zfill(2)
date_df["MonthNumber"] = date_df["MonthName"].apply(int)
date_df["DayName"] = date_df['DateISO'].dt.day.apply(str).str.zfill(2)
date_df["DayNumber"] = date_df["DayName"].apply(int)
date_df["DateKey"] = (date_df["YearName"] + date_df["MonthName"] + date_df["DayName"]).apply(int)
date_df = date_df[['DateKey', 'DateISO', 'Year', 'MonthNumber', 'MonthName', 'DayNumber', 'DayName']]

In [0]:
date_dim = spark.createDataFrame(date_df)

In [0]:
date_dim = date_dim.withColumn("DateISO", col("DateISO").cast("date"))

In [0]:
date_dim.show(10)

+--------+----------+----+-----------+---------+---------+-------+
| DateKey|   DateISO|Year|MonthNumber|MonthName|DayNumber|DayName|
+--------+----------+----+-----------+---------+---------+-------+
|20210101|2021-01-01|2021|          1|       01|        1|     01|
|20210102|2021-01-02|2021|          1|       01|        2|     02|
|20210103|2021-01-03|2021|          1|       01|        3|     03|
|20210104|2021-01-04|2021|          1|       01|        4|     04|
|20210105|2021-01-05|2021|          1|       01|        5|     05|
|20210106|2021-01-06|2021|          1|       01|        6|     06|
|20210107|2021-01-07|2021|          1|       01|        7|     07|
|20210108|2021-01-08|2021|          1|       01|        8|     08|
|20210109|2021-01-09|2021|          1|       01|        9|     09|
|20210110|2021-01-10|2021|          1|       01|       10|     10|
+--------+----------+----+-----------+---------+---------+-------+
only showing top 10 rows

In [0]:
start_time = datetime.strptime("00:00:00", "%H:%M:%S")
end_time = datetime.strptime("23:59:59", "%H:%M:%S")
time_list = pd.date_range(start_time, end_time, freq='S')

time_df = pd.DataFrame()
time_df['TimeISO'] = time_list
time_df["HourNumber"] = (time_df['TimeISO'].dt.hour).astype(int)
time_df["HourName"] = time_df['TimeISO'].dt.hour.apply(str).str.zfill(2)
time_df["MinuteNumber"] = (time_df['TimeISO'].dt.minute).astype(int)
time_df["MinuteName"] = time_df['TimeISO'].dt.minute.apply(str).str.zfill(2)
time_df["SecondNumber"] = (time_df['TimeISO'].dt.second).astype(int)
time_df["SecondName"] = time_df['TimeISO'].dt.second.apply(str).str.zfill(2)
time_df["TimeKey"] = time_df["HourName"] + time_df["MinuteName"] + time_df["SecondName"]

time_df = time_df[['TimeKey', 'HourNumber', 'HourName', 'MinuteNumber', 'MinuteName', 'SecondNumber', 'SecondName']]

In [0]:
time_dim = spark.createDataFrame(time_df)

In [0]:
!pip install shapely

Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.
Requirement already satisfied: shapely in /local_disk0/.ephemeral_nfs/envs/pythonEnv-19063045-67e4-4465-80d2-5579d261dd11/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: numpy>=1.14 in /databricks/python3/lib/python3.10/site-packages (from shapely) (1.23.5)
Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.

In [0]:
def extract_location(r):
    from shapely import wkt
    r.dropna()
    latitude_list = []
    longitude_list = []
    for s in r:
        if s is not None:
            point = wkt.loads(s)
            latitude_list.append(point.y)
            longitude_list.append(point.x)

    df = pd.DataFrame({'PointString': r,
                   'Latitude': latitude_list,
                   'Longitude': longitude_list})
    return df

In [0]:
df = sensors_raw.toPandas()
df.dropna(subset=['LOCATION'], inplace=True)
locationsdf = extract_location(df["LOCATION"])
locationsdf.head()

                    PointString   Latitude  Longitude
0  POINT (-97.796646 30.469118)  30.469118 -97.796646
1  POINT (-97.751737 30.244513)  30.244513 -97.751737
2  POINT (-97.781705 30.243875)  30.243875 -97.781705
3  POINT (-97.717606 30.402287)  30.402287 -97.717606
4   POINT (-97.78566 30.371674)  30.371674 -97.785660

In [0]:
locationsdf.dtypes

PointString     object
Latitude       float64
Longitude      float64
dtype: object

In [0]:
def string_to_loc(original_loc_column):
    latitude_list = []
    longitude_list = []
    for s in original_loc_column:
        coordinates_str = s.strip('()')
        latitude_str, longitude_str = coordinates_str.split(", ")
        latitude_list.append(float(latitude_str))
        longitude_list.append(float(longitude_str))
    df = pd.DataFrame({'PointString': original_loc_column,
                   'Latitude': latitude_list,
                   'Longitude': longitude_list})
    return df

In [0]:
df2 = kiosks_raw.toPandas()
df2.dropna(subset=['Location'], inplace=True)
locationsdf = locationsdf.append(string_to_loc(df2['Location']), ignore_index=True)

/root/.ipykernel/589531/command-3471958176486951-1161582401:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  locationsdf = locationsdf.append(string_to_loc(df2['Location']), ignore_index=True)

In [0]:
locationsdf.dtypes

PointString     object
Latitude       float64
Longitude      float64
dtype: object

In [0]:
locationsdf["LocationKey"] = np.arange(1, len(locationsdf) + 1).tolist()

In [0]:
locationsdf.tail(20)

                 PointString   Latitude  Longitude  LocationKey
140       (30.283, -97.7375)  30.283000 -97.737500          141
141      (30.2856, -97.7335)  30.285600 -97.733500          142
142    (30.29068, -97.74292)  30.290680 -97.742920          143
143    (30.28728, -97.74495)  30.287280 -97.744950          144
144    (30.27059, -97.74441)  30.270590 -97.744410          145
145    (30.25495, -97.74755)  30.254950 -97.747550          146
146    (30.27489, -97.76483)  30.274890 -97.764830          147
147    (30.27024, -97.73578)  30.270240 -97.735780          148
148    (30.26888, -97.72431)  30.268880 -97.724310          149
149    (30.26969, -97.71873)  30.269690 -97.718730          150
150     (30.26638, -97.7214)  30.266380 -97.721400          151
151    (30.26269, -97.72438)  30.262690 -97.724380          152
152    (30.26139, -97.77234)  30.261390 -97.772340          153
153       (30.252, -97.7346)  30.252000 -97.734600          154
154     (30.26214, -97.7387)  30.262140 -97.738700          155
155    (30.24472, -97.72336)  30.244720 -97.723360          156
156    (30.24258, -97.71726)  30.242580 -97.717260          157
157    (30.25212, -97.69807)  30.252120 -97.698070          158
158    (30.27924, -97.74371)  30.279240 -97.743710          159
159  (30.244961, -97.751272)  30.244961 -97.751272          160

In [0]:
location_dim =  spark.createDataFrame(locationsdf[["LocationKey", "Latitude", "Longitude"]])

In [0]:
trips_df = trips_raw.toPandas()
trips_df.dtypes

TripID                           int64
MembershiporPassType            object
BicycleID                      float64
BikeType                        object
CheckoutDatetime                object
CheckoutDate                    object
CheckoutTime            datetime64[ns]
CheckoutKioskID                 object
CheckoutKiosk                   object
ReturnKioskID                   object
ReturnKiosk                     object
TripDurationMinutes              int64
Month                            int64
Year                             int64
dtype: object

In [0]:
trips_df.replace([np.inf, -np.inf], np.nan, inplace=True)
trips_df.dropna(subset=['BicycleID'], inplace=True)
trips_df["BicycleID"] = trips_df["BicycleID"].astype(int)

In [0]:
dfg = trips_df.groupby(by=["BicycleID", "BikeType"]).size().to_frame().reset_index()
dfg = dfg.iloc[: , :-1]
bike_dim =  spark.createDataFrame(dfg)

Fact Tables

In [0]:
trips_df.head()

     TripID MembershiporPassType  BicycleID  ... TripDurationMinutes Month  Year
0  10368110              Walk Up        429  ...                  44     6  2016
1  10368119              Walk Up        897  ...                  44     6  2016
2  10368132              Walk Up        712  ...                  39     6  2016
3  10368143              Walk Up        362  ...                  42     6  2016
4  10368151              Walk Up         22  ...                  38     6  2016

[5 rows x 14 columns]

In [0]:
filtered_trips_df = trips_df[trips_df['Year'].isin([2021, 2022, 2023])]
filtered_trips_df.dropna(subset=['CheckoutDatetime'], inplace=True)
filtered_trips_df.dropna(subset=['CheckoutDate'], inplace=True)
filtered_trips_df.dropna(subset=['CheckoutTime'], inplace=True)
filtered_trips_df.dropna(subset=['CheckoutKioskID'], inplace=True)
filtered_trips_df.dropna(subset=['ReturnKioskID'], inplace=True)
filtered_trips_df.dropna(subset=['TripDurationMinutes'], inplace=True)
filtered_trips_df.dropna(subset=['TripID'], inplace=True)
filtered_trips_df.dropna(subset=['MembershiporPassType'], inplace=True)
filtered_trips_df.dropna(subset=['BicycleID'], inplace=True)
filtered_trips_df

/root/.ipykernel/589531/command-3471958176486960-1236736235:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df.dropna(subset=['CheckoutDatetime'], inplace=True)
/root/.ipykernel/589531/command-3471958176486960-1236736235:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df.dropna(subset=['CheckoutDate'], inplace=True)
/root/.ipykernel/589531/command-3471958176486960-1236736235:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df.dropna(subset=['CheckoutTime'], inplace=True)
/root/.ipykernel/589531/command-3471958176486960-1236736235:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df.dropna(subset=['CheckoutKioskID'], inplace=True)
/root/.ipykernel/589531/command-3471958176486960-1236736235:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df.dropna(subset=['ReturnKioskID'], inplace=True)
/root/.ipykernel/589531/command-3471958176486960-1236736235:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df.dropna(subset=['TripDurationMinutes'], inplace=True)
/root/.ipykernel/589531/command-3471958176486960-1236736235:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df.dropna(subset=['TripID'], inplace=True)
/root/.ipykernel/589531/command-3471958176486960-1236736235:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df.dropna(subset=['MembershiporPassType'], inplace=True)
/root/.ipykernel/589531/command-3471958176486960-1236736235:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df.dropna(subset=['BicycleID'], inplace=True)

           TripID MembershiporPassType  ...  Month  Year
59       30124963   Student Membership  ...      7  2023
614      25800691   Student Membership  ...     12  2021
1018     30125060             Explorer  ...      7  2023
1099     30125063             Explorer  ...      7  2023
1389     25800774   Student Membership  ...     12  2021
...           ...                  ...  ...    ...   ...
2085958  31381259              Local31  ...     10  2023
2085959  31735373      Pay-as-you-ride  ...     10  2023
2085960  31601940              Local31  ...     10  2023
2085961  31464528              Local31  ...     10  2023
2085962  31673378              Local31  ...     10  2023

[736370 rows x 14 columns]

In [0]:
filtered_trips_df.rename(columns={'BicycleID': 'BikeKey', 'MembershiporPassType': 'PassType'}, inplace=True)

/root/.ipykernel/589531/command-3471958176486964-3805949074:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df.rename(columns={'BicycleID': 'BikeKey', 'MembershiporPassType': 'PassType'}, inplace=True)

In [0]:
#convert datetime64[ns] to a time string
filtered_trips_df["TimeKey"] = filtered_trips_df['CheckoutTime'].dt.strftime("%H%M%S")
filtered_trips_df['CheckoutDate'] = pd.to_datetime(filtered_trips_df['CheckoutDate'])
filtered_trips_df["DateKey"] = filtered_trips_df['CheckoutDate'].dt.strftime("%Y%m%d").astype(int)

/root/.ipykernel/589531/command-3471958176486965-2929036326:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df["TimeKey"] = filtered_trips_df['CheckoutTime'].dt.strftime("%H%M%S")
/root/.ipykernel/589531/command-3471958176486965-2929036326:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df['CheckoutDate'] = pd.to_datetime(filtered_trips_df['CheckoutDate'])
/root/.ipykernel/589531/command-3471958176486965-2929036326:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df["DateKey"] = filtered_trips_df['CheckoutDate'].dt.strftime("%Y%m%d").astype(int)

In [0]:
filtered_trips_df['CheckoutKioskID'] = filtered_trips_df['CheckoutKioskID'].astype(float).astype(int)
filtered_trips_df['ReturnKioskID'] = filtered_trips_df['ReturnKioskID'].astype(float).astype(int)

/root/.ipykernel/589531/command-3471958176486972-4107142944:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df['CheckoutKioskID'] = filtered_trips_df['CheckoutKioskID'].astype(float).astype(int)
/root/.ipykernel/589531/command-3471958176486972-4107142944:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trips_df['ReturnKioskID'] = filtered_trips_df['ReturnKioskID'].astype(float).astype(int)

In [0]:
filtered_trips_df.head(10)

        TripID            PassType  BikeKey  ...  Year TimeKey   DateKey
59    30124963  Student Membership    17751  ...  2023  151138  20230705
614   25800691  Student Membership    21829  ...  2021  164352  20211212
1018  30125060            Explorer    18939  ...  2023  152430  20230705
1099  30125063            Explorer    21849  ...  2023  152446  20230705
1389  25800774  Student Membership    21803  ...  2021  165624  20211212
5205  25800811  Student Membership    16333  ...  2021  170020  20211212
7043  30125186  Student Membership    21558  ...  2023  153839  20230705
9655  25800817     3-Day Weekender    21523  ...  2021  170123  20211212
9939  25801020            Local365    21419  ...  2021  173242  20211212
9981  25801023             Local31    23277  ...  2021  173402  20211212

[10 rows x 16 columns]

In [0]:
kiosks_df = kiosks_raw.toPandas()
kiosks_df.dtypes

KioskID              int64
KioskName           object
KioskStatus         object
Location            object
Address             object
AlternateName       object
CityAssetNumber    float64
PropertyType        object
NumberofDocks      float64
PowerType           object
FootprintLength    float64
FootprintWidth     float64
Notes               object
CouncilDistrict      int64
Image               object
ModifiedDate        object
dtype: object

In [0]:
kiosks_df = pd.merge(kiosks_df, locationsdf, left_on='Location', right_on='PointString', how='left')
kiosks_df

     KioskID                            KioskName  ... Longitude LocationKey
0         11                22nd 1/2 & Rio Grande  ...       NaN         NaN
1        111                   23rd & San Gabriel  ...       NaN         NaN
2       1001              OFFICE/Main/Shop/Repair  ...       NaN         NaN
3       1002                   6th & Navasota St.  ...       NaN         NaN
4       1003                      8th & Guadalupe  ...       NaN         NaN
..       ...                                  ...  ...       ...         ...
97      4061            Lakeshore @ Austin Hostel  ...       NaN         NaN
98      4062          Lakeshore & Pleasant Valley  ...       NaN         NaN
99      4699  East 5th/Shady @ Eastside Bus Plaza  ...       NaN         NaN
100     4879                     16th/San Antonio  ...       NaN         NaN
101        0                  South Congress/Mary  ...       NaN         NaN

[102 rows x 20 columns]

In [0]:
trips_kiosks_df = pd.merge(filtered_trips_df, kiosks_df, left_on='CheckoutKioskID', right_on='KioskID', how='left')

In [0]:
trips_kiosks_df.dropna(subset=['KioskID'], inplace=True)

In [0]:
trips_kiosks_loc_df = pd.merge(trips_kiosks_df, locationsdf, left_on='Location', right_on='PointString', how='left')

In [0]:
trips_kiosks_loc_df.head(25)

      TripID            PassType  BikeKey  ...   Latitude  Longitude LocationKey
0   30124963  Student Membership    17751  ...  30.283000 -97.737500         141
1   25800691  Student Membership    21829  ...  30.264520 -97.771200         108
2   30125060            Explorer    18939  ...  30.268220 -97.742850         126
3   30125063            Explorer    21849  ...  30.268220 -97.742850         126
4   25800774  Student Membership    21803  ...  30.285760 -97.741810          93
5   25800811  Student Membership    16333  ...  30.264060 -97.763850         132
6   25800817     3-Day Weekender    21523  ...  30.266970 -97.749290         127
7   25801020            Local365    21419  ...  30.260814 -97.738086          99
8   25801023             Local31    23277  ...  30.244720 -97.723360         156
9   25801106            Local365    19207  ...  30.283000 -97.737500         141
10  25801252     3-Day Weekender    22530  ...  30.269800 -97.741860          73
11  25801398            Explorer      546  ...  30.259710 -97.753460         103
12  25801461  Student Membership    19403  ...  30.264327 -97.736446          75
13  30125269             Local31    21688  ...  30.278070 -97.772720         134
14  25801544  Student Membership    18556  ...  30.285760 -97.741810          93
15  30125315  Student Membership    16288  ...  30.290680 -97.742920         143
16  25801624  Student Membership    21464  ...  30.283000 -97.737500         141
17  25801687  Student Membership    21508  ...  30.283000 -97.737500         141
18  30153017     Pay-as-you-ride    19821  ...  30.252000 -97.734600         154
19  30094172            Explorer    16333  ...  30.264550 -97.731650         129
20  25801753  Student Membership    21458  ...  30.289800 -97.740410         139
21  25801767             Local31    19943  ...  30.266340 -97.743780          72
22  25801790  Student Membership    21423  ...  30.290680 -97.742920         143
23  25801810  Student Membership    22458  ...  30.283540 -97.739530         140
24  25801836  Student Membership    19207  ...  30.293330 -97.744120         137

[25 rows x 36 columns]

In [0]:
trips_kiosks_loc_df.columns

Index(['TripID', 'PassType', 'BikeKey', 'BikeType', 'CheckoutDatetime',
       'CheckoutDate', 'CheckoutTime', 'CheckoutKioskID', 'CheckoutKiosk',
       'ReturnKioskID', 'ReturnKiosk', 'TripDurationMinutes', 'Month', 'Year',
       'TimeKey', 'DateKey', 'KioskID', 'KioskName', 'KioskStatus', 'Location',
       'Address', 'AlternateName', 'CityAssetNumber', 'PropertyType',
       'NumberofDocks', 'PowerType', 'FootprintLength', 'FootprintWidth',
       'Notes', 'CouncilDistrict', 'Image', 'ModifiedDate', 'PointString',
       'Latitude', 'Longitude', 'LocationKey'],
      dtype='object')

In [0]:
trips_kiosks_loc_df = trips_kiosks_loc_df[["DateKey", "TimeKey", "LocationKey", "BikeKey", "TripID", "TripDurationMinutes", "PassType"]]

In [0]:
trips_kiosks_loc_df.isna().sum()

DateKey                0
TimeKey                0
LocationKey            0
BikeKey                0
TripID                 0
TripDurationMinutes    0
dtype: int64

In [0]:
fact_bike_trip =  spark.createDataFrame(trips_kiosks_loc_df)

In [0]:
fact_bike_trip.write.format("delta").save("/hive_metastore/path/to/your/new/delta/folderv")
spark.sql("CREATE TABLE metrobikes.fact_bike_trip USING delta LOCATION '/hive_metastore/path/to/your/new/delta/folder'")

DataFrame[]

In [0]:
location_dim.write.format("delta").save("/hive_metastore/path/to/your/new/delta/folder")
spark.sql("CREATE TABLE metrobikes.location_dim USING delta LOCATION '/hive_metastore/path/to/your/new/delta/folder'")

DataFrame[]

In [0]:
time_dim.write.format("delta").save("/hive_metastore/path/to/your/new/delta/folder")
spark.sql("CREATE TABLE metrobikes.time_dim USING delta LOCATION '/hive_metastore/path/to/your/new/delta/folder'")

DataFrame[]

In [0]:
bike_dim.write.format("delta").save("/hive_metastore/path/to/your/new/delta/folder")
spark.sql("CREATE TABLE metrobikes.bike_dim USING delta LOCATION '/hive_metastore/path/to/your/new/delta/folder'")

DataFrame[]

In [0]:
date_dim.write.format("delta").save("/hive_metastore/path/to/your/new/delta/folder")
spark.sql("CREATE TABLE metrobikes.date_dim USING delta LOCATION '/hive_metastore/path/to/your/new/delta/folder'")

DataFrame[]